/* imports */
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* font-family: 'Roboto', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");

/* font-family: "Nanum Gothic Coding", monospace; */

//**********************************************

//Reset
* {
  margin: 1px;
  padding: 1px;
  font-family: "Roboto", sans-serif;
  justify-content: center;
}

// Variables
$background-dark: rgba(0, 0, 0, 0.973);
$background-light: rgba(255, 255, 255, 0.836);

//Mixins
@mixin font-pop {
  font-family: "Roboto", sans-serif;
}
@mixin font-page {
  font-family: "Nanum Gothic Coding", monospace;
}

//Navbar

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $background-light;
  filter: opacity(80%);
  height: auto;
  width: 100%;
  h1 {
    background-color: transparent;
    font-size: 3.5em;
    @include font-page;
  }
  .contenedor {
    width: auto;
    background-color: rgba(0, 0, 0, 0.726);

    .logo {
      filter: contrast(500%);
      filter: brightness(110%);
    }
  }
  .menu {
    position: relative;
    display: inline-block;
    margin: 0% 3% 0% 0%;
    &:hover .sections {
      display: block;
    }
    .sections {
      display: none;
      position: absolute;
      background-color: whitesmoke;
      min-width: 160px;
      padding: 12px 16px;
      z-index: 5;
      right: -30px;
    }
    li,
    a {
      padding: 1.5%;
      list-style: none;
      text-decoration: none;
      color: black;
      font-size: 22px;
      font-weight: 900;
      @include font-page;
      &:hover {
        color: blue;
      }
    }
    .fa-bars {
      display: inline-block;
      cursor: pointer;
      color: black;
    }
  }
}

//Site
body {
  display: flex;
  flex-direction: column;
  background: rgb(9, 9, 121);
  background: linear-gradient(94deg, rgba(9, 9, 121, 1) 7%, rgba(0, 212, 255, 1) 100%);
  h2 {
    @include font-page;
    color: orange;
    align-self: center;
    margin: 5% 0% 5% 0%;
  }
}

//footer
footer {
  @include font-pop;
  font-size: 1.2em;
  color: $background-dark;
  align-self: center;
}
//Mediaqueries

@media (max-width: 800px) {
  header {
    h1 {
      font-size: 1.8em;
    }
    .contenedor,
    .logo {
      width: 150px;
    }
  }
}

@media (max-width: 360px) {
  header {
    h1 {
      font-size: 0.8em;
    }
    .contenedor,
    .logo {
      width: 75px;
    }
  }
  h2 {
    font-size: 0.7em;
  }
  footer {
    font-size: 0.5em;
  }
}
